<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>them employee</title>
</head>
<body>
    <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
        <input type="text" th:field="*{name}">

        <input type="text" th:field="*{email}">

        <input type="text" th:field="*{country}">

        <button type="submit"> Save Employee</button>
    </form>
    <a th:href="@{/list}" > back to list Employee</a>
</body>
</html>